* {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

* + * {
  margin-top: 2em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

html {
    color: #4e4d4d;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

h1 {
    font-size: 4.5em;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.4;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

/* Central Column */
.page {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page hr {
        display: none;
    }
}


/* header */
header .one {
  position: fixed;
  top: 0;
  left: 1%;
  width: 20%;
  height: auto;
  box-shadow: none;
  z-index: -10;
}

header .two {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  box-shadow: none;
  z-index: -20;
}

@media only screen and (max-width: 760px) {
  header .two {
    top: 0%;
    width: 90%;
  }
}

header #text {
  width: 36%;
  margin-top: 26%;
  margin-left: 60%;
  padding: 4px 18px;
  z-index: 10;
  color: #FFF;
  background-color: #6cc4c7;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 1px rgba(0, 0, 0, 0.2);
}

header #text h2 {
  margin: 0;
}

@media only screen and (max-width: 760px) {
  header #text {
    width: 80%;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(5%);
  }
}

/* Content */
#main-content {
  background-color: #FFF;
}

section {
    display: block;
    padding: 30px 0;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 1px rgba(0, 0, 0, 0.2);
}

section div {
    width: 92%;
    margin: 0 auto;
}

section div h2, section div p {
  margin: 0 0 10px 0
}

@media only screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: space-around;
    }

    section:nth-of-type(2n+1) {
        flex-direction: row-reverse;
    }
    section div {
        width: 40%;
    }

    section div:nth-of-type(2) {
    width: 45%;
}
}

section .button {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 1px rgba(0, 0, 0, 0.2);
    background: #6cc4c7;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    transition: box-shadow 0.1s linear 0s,
                background-color 0.1s linear 0s,
                transform 1s;
}

section .button:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #46b5b9;
}

section .button:active {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #59bcc0;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #6CC4C7 url("images/yoga.jpg") no-repeat fixed center;
  background-size: cover;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 4px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  #social {
    background: #6CC4C7 url("images/yoga-mobile.jpg") no-repeat fixed center;
    background-size: cover;
  }
}

#social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  padding: 16px 24px;
  border-radius: 2px;
  background-color: #6CC4C7;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 760px) {
  #social ul {
    width: 80%;
  }
}

#social a {
  color: #FFF;
  background: none;
  transition: color 0.1s linear 0s
}

#social a:hover {
  color: #d9d9d9
}

#social a:active {
  color: #e6e6e6
}


/* YouTube */
.videoWrapper {
	position: relative;
  width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#instagram {
  padding: 0;
}

#instagram iframe {
  margin: 0;
}


#contact {
  display: flex;
  padding: 0;
}

#contact a {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFF;
  background-color: #4E4D4D;
  font-size: 4em;
  text-align: center;
  text-decoration: none;
}

#contact a:hover {
  background: #343232;
}

#contact a:active {
  background: #403F3F;
}

@media only screen and (max-width: 780px) {
  #contact a {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) {
  #contact a {
    font-size: 2em;
  }
}

@media only screen and (max-width: 400px) {
  #contact a {
    font-size: 1.2em;
  }
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-center > * {
    margin-top: 0.5em;
}
