* {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

* + * {
  margin-top: 1.5em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

html {
    color: #222;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

h1 {
    font-size: 4.5em;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.4;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 2px 6px 10px #888888;
}

/* Central Column */
.content {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.content:nth-of-type(1) {
    margin-top: 280px;
}

@media only screen and (min-width: 768px) {
    .content {
        position: relative;
        width: 78%;
        margin-left: 21%;
    }

    .content:nth-of-type(1) {
        margin-top: 310px;
    }

    .content hr {
        display: none;
    }
}


/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 260px;
    background-color: #00CED1;
    color: #FFF;
    text-align: center;
    transition: height 0.4s ease-out;
}

.smaller {
    height: 96px;
}

header .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 0;
    transition: margin 0.4s ease-out;
}

.smaller .mobile {
    margin: -64px auto 0;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23%;
}

header li {
    align-self: center;
}

header img {
    width: 120px;
    height: 120px;
    margin: 10px 0 0 0;
    border-radius: 50%;
    box-shadow: none;
    visibility: visible;
    transition: width 0.3s linear,
                height 0.3s linear,
                visibility 0.1s ease-out;
}

.smaller img {
    width: 0;
    height: 0;
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    header {
        left: 21%;
        width: 78%;
        height: 280px;
        transition: height 0.4s ease-out;
    }

    header .mobile{
        display: none;
    }

    .smaller {
        height: 80px;
    }
}

.title {
    display: inline-block;
    width: 240px;
    height: 90px;
    margin-top: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: white;
    transition: height 0.4s ease-out,
                width 0.4s ease-out,
                border-width 0.4s ease-out;
}

.title > * {
    margin: 0;
}

.title h1 {
    margin-bottom: -18px;
    font-size: 3em;
    transition: font-size 0.4s ease-out;
}

.title p {
    font-size: 0.8em;
    visibility: visible;
    transition: font-size 0.3s,
                visibility 0.1s linear 0.3s;
}

.smaller .title {
    width: 130px;
    height: 48px;
    border-width: 2px;
}

.smaller .title h1 {
    font-size: 2em;
}

.smaller .title p {
    font-size: 0.1em;
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 306px;
        height: 136px;
        margin-top: 0;
        transition: height 0.4s ease-out,
                    width 0.4s ease-out;
        transform: translate(-50%, -50%);
    }

    .title h1 {
        font-size: 4.5em;
    }

    .title p {
        font-size: 1em;
    }

    .smaller .title {
        width: 130px;
        height: 48px;
    }
}

/* Sidebar */
aside {
    display: none;
}

i {
    color: #fff;
    transition: color 0.3s;
}

i:hover {
    color: #666;
}

@media only screen and (min-width: 768px) {
    aside {
        position: fixed;
        left: 1%;
        top: 0;
        display: block;
        width: 18%;
        height: 100%;
        text-align: center;
    }

    aside img {
        margin-top: 6%;
        border-radius: 50%;
        box-shadow: none;
    }

    i {
        color: #222;
        transition: color 0.2s;
    }

    i:hover {
        color: #00CED1;
    }
}

nav li {
    background-color: white;
    transition: background-color 0.4s;
}

nav li:hover {
    background-color: #00CED1;
    cursor: pointer;
}

nav li a {
    text-decoration: none;
    transition: color 0.4s;
}

nav li:hover a {
    color: #fff;
    text-decoration: none;
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    color: #222;
    font-size: 1.2em;
}

/* Content */
section {
    display: block;
}

section div {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: space-around;
    }

    section:nth-of-type(2n+1) {
        flex-direction: row-reverse;
    }
    section div {
        width: 40%;
    }

    section div:nth-of-type(2) {
    width: 50%;
}
}

section a {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 3px 6px #888;
    background: #00CED1;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    transition: box-shadow 0.1s linear 0s,
                transform 1s;
}

section a:hover {
    box-shadow: 4px 5px 8px #888;
    color: white;
}

section a:active {
    box-shadow: 0px 0px 0px #888;
}

.videoWrapper {
	position: relative;
  width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    box-shadow: 2px 6px 10px #888888;
}

/* Instagram */
#instagram {
    opacity: 0.8;
    transition: opacity 0.1s linear 0s;
}

#instagram:hover {
    opacity: 1;
}

/*Footer */
footer {
    margin: 0;
    background: #FFD166;
    color: #666;
    text-align: center;
    cursor: pointer;
    transition: color 0.1s linear 0s;
}

footer h1 {
    margin: 0;
    padding: 40px 0;
    font-size: 1.4em;
}

@media only screen and (min-width: 378px) {
  footer h1 {
      padding: 70px 0;
      font-size: 2em;
  }
}

@media only screen and (min-width: 660px) {
  footer h1 {
      padding: 70px 0;
      font-size: 2.6em;
  }
}

@media only screen and (min-width: 962px) {
    footer h1 {
      padding: 90px 0;
      font-size: 3.4em;
    }
}

footer:hover {
    color: #fff;
}


.centered {
    text-align: center;
    margin-bottom: -1rem;
}

.centered > * {
    display: inline-block;
    margin: 0 0.5rem 1rem;
    width: 100%
}

.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em; /* adjusting for gutters */
}

.fukol-grid > * {
  flex: 1 0 5em; /* The 5em part is the basis (ideal width) */
  margin: 0.5em; /* Half the gutter value */
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-center > * {
    margin-top: 0.5em;
}

.vertical {
    padding-bottom: -1rem;
    text-align: center;
}

.vertical li {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
